<html layout:decorator="Shared/defaultLayout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head><title>Ranking</title></head>

<div layout:fragment="content">
    <h2>Ranking</h2>
    <hr/>

    <p> Ranking w kolejnosci od najbardziej trafnego wyboru wzgledem kryteriów (oczekiwań) użytkownika do
        najgorszego: </p>

    <ul>
        <li th:each="v, iter: ${ranking}" th:if="${v.rankValue} &gt; 0"
            th:text="${iter.index + 1} + '. ' + ${v.name} "/> <!--+ ' z wartoscia ' + ${v.rankValue}"/>    -->

    </ul>


</div>
</html>