<html layout:decorator="Shared/defaultLayout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Etap 1</title>
</head>

<div layout:fragment="content">
    <h2>Obliczanie rankingu - Etap 1</h2>
    <hr/>
    <p>Na tym etapie wyznaczania rankingu, należy podać nazwy ofert. Zaleca się, aby nazwy te były rozróżnialne dla
        użytkownika. Sugeruje się podanie marki i modelu lodówki. Należy również wybrać kryteria, spośród
        dostępnych, które dla użytkownika są najistotniejsze podczas wyboru lodówki. Należy podać minimum 2-ie nazwy
        ofert i wybrać minimum 2-a kryteria.</p>
    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>-->

    <form th:action="@{/solver/stage1}" th:method="post" modelAttribute="stage1SimpleForm"
          th:object="${stage1SimpleForm}" class="form-horizontal">

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Nazwy ofert</div>
                    </div>

                    <div class="panel-body">
                        <p th:if="${ofertNamesError != null}" class="alert alert-danger" th:text="${ofertNamesError}"/>
                        <div class="row form-group" th:each="num: ${#numbers.sequence(1,5)}">
                            <label th:for="'o' + ${num}" class="col-md-2" th:text="'Oferta ' + ${num}"></label>
                            <input type="text" class="col-md-5" th:field="*{ofertNames}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Wybierz kryteria:</div>
                    </div>
                    <div class="panel-body">
                        <p th:if="${#fields.hasErrors('criteriaNames')}" class="alert alert-danger"
                           th:errors="*{criteriaNames}"/>
                        <div class="row form-group"
                             th:each="crytName : ${criterias}">
                            <input type="checkbox" th:field="*{criteriaNames}" th:value="${crytName}"
                                   th:text="${crytName}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-8 col-sm-12">
                <div class="row form-group">
                    <input type="reset" class="btn col-md-5 col-sm-6" value="Wyczyść"/>
                    <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1 col-sm-6" th:text="Dalej"/>
                </div>
            </div>
        </div>
    </form>


    <!--<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error message</td> -->



</div>
</html>