<html layout:decorator="Shared/defaultLayout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head><title>Etap 2</title></head>

<div layout:fragment="content">

    <h2>Obliczanie rankingu - Etap 2</h2>
    <hr/>

    <p>W tym etapie użytkownik stara się podać w jakim stopniu lepsza(lub gorsza) jest dana lodówka od drugiej pod kątem
        <b>wskazanego kryterium</b>.
        Porównywane są również kryteria, tzn. użytkownik podaje, jak bardzo istostniejsze jest jedno kryterium od drugiego.
    </p>

    <form th:action="@{/solver/stage2}" th:method="post" modelAttribute="stage2SimpleForm"
          class="form-horizontal" th:object="${stage2SimpleForm}">


        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Porównanie kryteriów:</div>
                    </div>

                    <div class="panel-body" th:with="criteriaNamesSize = ${sF.criteriaNames.size()}">
                        <p th:if="${cohesiveCriteriaMatrixWarning != null}" class="alert alert-warning"
                           th:text="${cohesiveCriteriaMatrixWarning}"/>
                        <div th:each="i: ${#numbers.sequence(0,criteriaNamesSize-1)}">
                            <div th:if="${i &lt; (criteriaNamesSize-1)}" th:with="iter=${i}+1">
                                <div th:each="j: ${#numbers.sequence(iter,criteriaNamesSize-1)}">
                                    <div class="row form-group">

                                        <p class="col-md-3" th:text="${sF.criteriaNames[__${i}__]} + ' jest ' "/>

                                        <select class="col-md-5" th:field="*{criteriaMatrix}">

                                            <option th:each="elem : ${sattyRanking}"
                                                    th:value="${elem.key}" th:text="${elem.value}"></option>

                                        </select>

                                        <p class="col-md-3" th:text="'od ' + ${sF.criteriaNames[__${j}__]} "/>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" th:each="criterium, critNumber : ${sF.criteriaNames}">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" th:text="'Ze względu na kryterium ' + ${criterium} "></div>
                    </div>

                    <div class="panel-body" th:with="ofertNamesSize = ${sF.ofertNames.size()}">
                        <p th:if="${cohesiveOffertMatrixWarnings !=null and cohesiveOffertMatrixWarnings[__${critNumber.index}__] != null}"
                           class="alert alert-warning"
                           th:text="${cohesiveOffertMatrixWarnings[__${critNumber.index}__]}"/>
                        <div th:each="i: ${#numbers.sequence(0,ofertNamesSize-1)}">
                            <div th:if="${i &lt; (ofertNamesSize-1)}" th:with="iter=${i}+1">
                                <div th:each="j: ${#numbers.sequence(iter,ofertNamesSize-1)}">
                                    <div class="row form-group">

                                        <p class="col-md-3" th:text="${sF.ofertNames[__${i}__]} + ' jest ' "/>

                                        <select class="col-md-5" th:id="'ofertMatrix' + ${critNumber.index + 1}"
                                                th:name="'ofertMatrix' + ${critNumber.index + 1}">

                                            <option th:each="elem : ${sattyRanking}"
                                                    th:value="${elem.key}" th:text="${elem.value}"></option>

                                        </select>
                                        <p class="col-md-3" th:text="'od ' + ${sF.ofertNames[__${j}__]} "/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-sm-12">
                <input type="checkbox" th:field="*{acceptUncheckCohesion}" th:text="'Nie sprawdzaj spójności danych'"
                       th:value="${true}" checked="checked" th:checked="${true}"/> <br/>
                <div class="row form-group">
                    <input type="reset" class="btn col-md-5 col-sm-6" value="Wyczyść"/>
                    <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1 col-sm-6"
                            th:text="Dalej"/>
                </div>
            </div>
        </div>
    </form>


    <!-- <p>Wprowadzone ofety to:</p>
         <ul>
             <li th:each="s: ${sF.ofertNames}" th:text="${s}" />
         </ul>

         <p>Wprowadzone kryteria to:</p>
         <ul>
             <li th:each="s: ${sF.criteriaNames}" th:text="${s}" />
         </ul>-->
</div>
</html>