<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- <link rel="icon" href="../../favicon.ico">-->

    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">AHP dla lodówek</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.ceneo.pl/Lodowki">LODÓWKI</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/stage1}">Rozpocznij</a></li>
                <li class="active"><a th:href="@{/about}">O nas</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="jumbotron"> -->
<div class="container">
    <section id="main-content">
        <!--<section class="wrapper site-min-height">--> <!--TODO zastanowic sie czy potrzebne-->
        <div layout:fragment="content">
            <!-- only natural templates !!! -->
        </div><!-- /.content -->
        <!-- </section> --> <!-- /wrapper -->
    </section><!-- /MAIN CONTENT -->
    <hr/>

    <footer>

        <p>&copy; 2017 System wspomagający wybór lodowki metodą AHP</p>
    </footer>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script> <!--TODO pobrac i zamiescic lokalnie -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/scripts/ie10-viewport-bug-workaround.js"></script>--> <!--TODO naprawic-->


<th:block layout:fragment="script"></th:block>
<!-- EXAMPLE ADD OWN SCRIPT ON PAGES FRAGMENT (ADD TO PAGE FRAGMENT)
<th:block layout:fragment="script">
            <script th:src="@{/page.js}"></script>
            <script>
                 function foo() {
                    ...
                 }
            </script>
</th:block>
-->
</body>
</html>
