<html layout:decorator="Shared/defaultLayout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Etap 1</title>
</head>

<div layout:fragment="content">
    <h2>Obliczanie rankingu - Etap 1</h2>
    <hr/>


    <form th:action="@{/solver/stage1}" th:method="post" modelAttribute="stage1SimpleForm"
          th:object="${stage1SimpleForm}" class="form-horizontal">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Nazwy ofert</div>
                    </div>

                    <div class="panel-body">
                        <div class="row form-group" th:each="num: ${#numbers.sequence(1,5)}">
                            <label th:for="'o' + ${num}" class="col-md-2" th:text="'Oferta ' + ${num}"></label>
                            <input type="text" class="col-md-5" th:field="*{ofertNames}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Wybierz kryteria:</div>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group"
                             th:each="str,iter: ${ {'Kolor','Cena', 'Pojemność zamrażarki', 'Pojemność', 'Klasa energetyczna' }}">
                            <input type="checkbox" th:field="*{criteriaNames}" th:value="${str}" th:text="${str}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-8 col-sm-12">
                <div class="row form-group">
                    <input type="reset" class="btn col-md-5 col-sm-6" value="Wyczyść"/>
                    <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1 col-sm-6" th:text="Dalej"/>
                </div>
            </div>
        </div>
    </form>

    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                  <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
              </div>-->

    <!--<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error message</td> -->
    <!--    <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Nazwa oferty 1: </label>
            <div class="col-10">
                <input type="text" class="form-control" id="example-text-input" />
            </div>
        </div>
        <div class="form-group row " style="padding:10px">
            <label for="o2" class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 ">Nazwa oferty 2: </label>
            <input type="text" id="o2" name="o2" class="form-control"/>
        </div>

        <div class="form-group row " style="padding:10px">
            <button type="submit" class="btn btn-primary" th:Text="Dalej" />
            <input type="reset" class="btn btn-primary" value="Wyczyść" />
        </div>-->


</div>
</html>