<html layout:decorator="Shared/defaultLayout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head><title>Etap 2</title></head>

<div layout:fragment="content">

    <p>To jest ETAP 2</p>
    <hr/>

    <form th:action="@{/solver/stage2}" th:method="post" modelAttribute="stage2SimpleForm"
          class="form-horizontal">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Porównania kryteriów</div>
                    </div>

                    <div class="panel-body">
                        <div th:each="i: ${#numbers.sequence(0,sF.criteriaNames.size()-1)}">
                            <div th:if="${i &lt; (sF.criteriaNames.size()-1)}" th:with="iter=${i}+1">
                                <div th:each="j: ${#numbers.sequence(iter,sF.criteriaNames.size()-1)}">
                                    <div class="row form-group">
                                        <p class="col-md-3" th:text="*{sF.criteriaNames[__${i}__]} + ' jest ' "/>
                                        <select class="col-md-5">
                                            <th:block th:object="${stage2SimpleForm}">
                                                <option th:each="elem : ${stage2SimpleForm.sattyRanking}"
                                                        th:value="${elem.value}" th:text="${elem.key}"></option>
                                            </th:block>
                                        </select>
                                        <p class="col-md-3" th:text="'od ' + *{sF.criteriaNames[__${j}__]} "/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-8 col-sm-12">
                <div class="row form-group">
                    <input type="reset" class="btn col-md-5 col-sm-6" value="Wyczyść"/>
                    <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1 col-sm-6"
                            th:text="Dalej"/>
                </div>
            </div>
        </div>
    </form>


    <!-- <p>Wprowadzone ofety to:</p>
         <ul>
             <li th:each="s: ${sF.ofertNames}" th:text="${s}" />
         </ul>

         <p>Wprowadzone kryteria to:</p>
         <ul>
             <li th:each="s: ${sF.criteriaNames}" th:text="${s}" />
         </ul>-->

    <!--
    1 – oba porównywane warianty są równie dobre
3 – wariant pierwszy jest nieznacznie lepszy od drugiego
5 – wariant pierwszy jest wyraźnie lepszy od drugiego
7 – wariant pierwszy jest zdecydowanie lepszy od drugiego
9 – wariant pierwszy jest bezwzględnie lepszy od drugiego


1/3 - wariant pierwszy jest nieznacznie gorszy od drugiego
1/5 -  wariant pierwszy jest wyraźnie gorszy od drugiego
1/7 - wariant pierwszy jest zdecydowanie gorszy od drugiego
1/9 -  wariant pierwszy jest bezwzględnie gorszy od drugiego
    -->
</div>
</html>